body {
    background-image: radial-gradient(circle at 50% -20.71%, #ffff79 0, #ffff75 12.5%, #f3f772 25%, #d3e96f 37.5%, #b4d86c 50%, #97c669 62.5%, #7eb767 75%, #68a966 87.5%, #559e66 100%);
    height: 100vh;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Inter', sans-serif;
    font-size: 2vw;
}
.container {
    padding: 10px 50px 10px 50px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: -15vh;
    width: fit-content;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(20px);
    border: solid 1px rgba(255, 255, 255, 0.4)
}
.dateData {
    display: flex;
    justify-content: space-around;
}
.date, .day {
    font-weight: 400;
}
.price-text {
    margin: 0;
}
.price {
    margin: auto;
    width: fit-content;
    padding: 10px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.9);
}
select {
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.25);
    margin-left: 10px;
    border-radius: 5px;
    border: 1px solid white;
    font-size: 3.5vw;
    font-weight: bolder;
    cursor: pointer;
}
.fiat-div {
    display: flex;
    align-items: center;
}
select h1{
    margin: 0;
    
    padding: 3px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
h6 {
    margin-bottom: 10px;
}
.dolartoday {
    color: #85bb65;
}
@media screen and (max-width: 1024px) {
    body {
        font-size: 3.5vw;
    }
    #usd button, #eur button {
        font-size: 3.5vw;
    }
    .container {
        padding: 10px 20px 10px 20px;
    }
    select {
        font-size: 6vw;
    }
}